# ===== Python cache =====
__pycache__/
*.pyc

# ===== Examples =====
examples/
*.pdf

# ===== Images =====
images/
*.png

# ===== Editor files =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db
