# ===== Python cache =====
__pycache__/
*.pyc
.venv/
uv.lock
.python-version

# ===== Examples =====
examples/
*.pdf

# ===== Visual test output =====
test_output/

# ===== Images =====
images/
*.png

# ===== Editor files =====
.vscode/

# ===== OS files =====
.DS_Store
Thumbs.db

DEMO.mp4
*.mp4
