<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Untitled</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <div style="display: flex; align-items: center; padding-top: 20px;">
            <img src="images/Title 2nd page.png" alt="Emblem" align="center" style=" width: 100%; padding-bottom: 15px;">
        </div>

        <h4>Executive Design Professional</h4>
        <h5>{{ EDP_Address_Line_1 }}<br>
            {{ EDP_Address_Line_2 }}<br>
            {{ EDP_Address_Line_3 }}</h5>

        <div class="individual-feedback">
            <div class="people-checkbox-container">
                <input type="checkbox" id="rev-necessary">
                <label for="rev-necessary"class="label-box2">No Review Necessary</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="exception">
                <label for="exception"class="label-box2">No Exceptions Taken</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="implement">
                <label for="implement" class="label-box2">Implement Exceptions Noted</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="revise">
                <label for="revise"class="label-box2">Revise and Resubmit</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="rejected">
                <label for="rejected"class="label-box2">Rejected</label><br>
            </div>
        </div>

        <h3 style="text-align: left; margin-top: 0px; padding-left: 43px; padding-top: 40px;">X</h3>
        <hr align="left" style="height:1px; width:250px; color:black; background-color:black; display: inline-block; margin-left: 40px; margin-top:0px">

        <hr class="separator-bar">
        
        <h3 class="people"> {{ Reviewer_Name_1 }}</h3>
        <h5 class="Rev-Act">Review Action Taken</h5>
        <div class="individual-feedback">
            <div class="people-checkbox-container">
                <input type="checkbox" id="rev-necessary">
                <label for="rev-necessary"class="label-box2">No Review Necessary</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="exception">
                <label for="exception"class="label-box2">No Exceptions Taken</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="implement">
                <label for="implement"class="label-box2">Implement Exceptions Noted</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="revise">
                <label for="revise"class="label-box2">Revise and Resubmit</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="rejected">
                <label for="rejected"class="label-box2">Rejected</label><br>
            </div>
        </div>

        <hr class="separator-bar">
 
        <h3 class="people"> {{ Reviewer_Name_2 }}</h3>
        <h5 class="Rev-Act">Review Action Taken</h5>
        <div class="individual-feedback">
            <div class="people-checkbox-container">
                <input type="checkbox" id="rev-necessary">
                <label for="rev-necessary"class="label-box2">No Review Necessary</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="exception">
                <label for="exception"class="label-box2">No Exceptions Taken</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="implement">
                <label for="implement"class="label-box2">Implement Exceptions Noted</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="revise">
                <label for="revise"class="label-box2">Revise and Resubmit</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="rejected">
                <label for="rejected"class="label-box2">Rejected</label><br>
            </div>
        </div>

        <hr class="separator-bar">

        <h3 class="people"> {{ Reviewer_Name_3 }}</h3>
        <h5 class="Rev-Act">Review Action Taken</h5>
        <div class="individual-feedback">
            <div class="people-checkbox-container">
                <input type="checkbox" id="rev-necessary">
                <label for="rev-necessary"class="label-box2">No Review Necessary</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="exception">
                <label for="exception"class="label-box2">No Exceptions Taken</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="implement">
                <label for="implement"class="label-box2">Implement Exceptions Noted</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="revise">
                <label for="revise"class="label-box2">Revise and Resubmit</label><br>
            </div>
            <div class="people-checkbox-container">
                <input type="checkbox" id="rejected">
                <label for="rejected"class="label-box2">Rejected</label><br>
            </div>
        </div>

        <div class="spacer"></div>

    </body>
    




    


