<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Untitled</title>
        <link rel="stylesheet" href="{{ resource_dir }}/styles.css">
    </head>
    <body>

        <div style="display: flex; align-items: center; width: 100%; padding-top: 50px;">
            <img src="{{ resource_dir }}/images/UCSC Emblem.png" alt="Emblem" class="emblem" />
            <div style="margin-left: auto; text-align: right;">
            <p style="letter-spacing: 3px;">University of California, Santa Cruz</p>
            <p><b>Physical Planning & Development Operations</b></p>
            <p><small>1156 High Street - Barn G<br>Santa Cruz, CA 95064<br>constdoc@ucsc.edu</small></p>
            </div>
        </div>

        <hr style="height:3px;width:96%;color:black;background-color:black" />
        <h3><strong>{{ Project_Title }}</strong></h3>

        <p class="sub-rev"><br><br><b>Submittal No: </b>{{ Submittal_Number }} R{{ Revision_Number }}</p>
        <p class="sub-rev"><b>Review Ends on {{ Date_Review_Ends }}</b></p>
        
        <p class="spec-desc"><b>Specification: </b>{{ Specification_Section }}</p>
        <p class="spec-desc"><b>Description: </b>{{ Submittal_Name }}</p>

        <h1>Official Response</h1>

        <div class="box">
            <div class="inner-box">
                <h3 class="box-title">Review Action Taken:</h3>

                <div class="container">
                    <div class="left-side">
                        <div class="checkbox-container">
                            <input type="checkbox" id="rev-necessary" />
                            <label for="rev-necessary" class="label-box">No Review Necessary</label>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="exception" />
                            <label for="exception"class="label-box">No Exceptions Taken</label>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="implement" />
                            <label for="implement"class="label-box">Implement Exceptions Noted</label><br>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="revise" />
                            <label for="revise"class="label-box">Revise and Resubmit</label><br>
                        </div>
                        <div class="checkbox-container">
                            <input type="checkbox" id="rejected" />
                            <label for="rejected"class="label-box">Rejected</label><br>
                        </div>
                    </div>

                    <div class="right-side">
                        <hr style="height:1px; width:120%; color:black; background-color:black;" id="name" />
                        <label for="name" class="name-text">{{ Project_Manager }}</label>
                    </div>
                    
                </div>

                <p class="box-text">The review is for general conformance with design<br>
                    concept and with the contract documents. Markings or<br>
                    comments shall not be construed as relieving the Contractor<br>
                    from compliance with the project plans and specifications,<br>
                    nor as authorizing departures therefrom. The Contractor<br>
                    remains responsible for details and accuracy, for selecting<br>
                    fabrication processes, for techniques or assembly, and for<br>
                    performing the work in a safe manner.</p>

            </div>
        </div>

    </body>
    




    


